@import url('https://fonts.googleapis.com/css?family=Acme|Lobster');

body, html {
  margin:0;
  padding:0;
  height: 100%;
  width:100%;
  font-family:Acme;
  min-width:700px;
}

.splitdiv{
  height:100%;
  width:50%;
  
}




.prova
{
  z-index: 50;
  position: relative;
  
}

#leftdiv{
  float:left;
  background-color:#595959;
}

#leftdivcard{
  margin:0 auto;
  width:50%;
  background-color:#d1d1d1;
  margin-top: 50vh; 
  transform: translateY(-50%);
  box-shadow: 10px 10px 1px 0px rgba(209, 209, 209, .2);
  border-radius:10px
}

#leftbutton{
    background-color:#595959;
    border-radius:5px;
    color:#d1d1d1;
    width:20%;
}
 input[type="email"],
input[type="password"],
input[type="text"]
{

	box-sizing: border-box;
	border-radius:9px;
	border: 2px solid #595959;
  height: 60px;
position: relative;
left:25px;
	

}


#rightdiv{
  float:right;
  background-color:#d1d1d1;
}

#rightdivcard{
  margin:0 auto;
  width:50%;
  margin-top: 50vh;
  transform: translateY(-50%);
  background-position: bottom;
  box-shadow: 10px 10px 1px 0px rgba(123, 0, 44, .2);
  background-color:#595959;
  background-size: 20px 2px;
  background-repeat: repeat-x;
  border-radius:10px;
  
}


#rightbutton{
    background-color:#d1d1d1;
    border-radius:5px;
    color:#595959;
    width:24%;
    text-align: center;
   
}

.fa-eye, .fa-eye-slash
{
  position: absolute;
  right: 30px;
  top: 31px;
  font-size: 20px;
  
  
}




h1{
  font-family:Lobster;
  color:#4ECDC4
}

input{
  font-family:Acme;
  font-size:16px;
}

input{
  width:85%;
  height:40px;
  padding:10px;
  margin-left:2%;
  margin-right:2%;
  margin-top:10px;
  margin-bottom:10px;
  display:inline-block;
  background-color:#FAFAFA;
  border:none;
}

input:focus {
    outline: none !important;
    border:1px solid #4ECDC4;
    box-shadow: 0 0 5px #719ECE;
}

button{
  outline: none !important;
  font-family:Lobster;
  margin-bottom:15px;
  border:none;
  font-size:20px;
  padding:8px;
  padding-left:20px;
  padding-right:20px;
}



.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #FFFFFF radial-gradient(circle, transparent 1%, #595959 1%) center/15000%;
}
.ripple:active {
  background-size: 100%;
  transition: background 0s;
}

.ripple2 {
  background-position: center;
  transition: background 0.8s;
}
.ripple2:hover {
  background: #FFFFFF radial-gradient(circle, transparent 1%, #d1d1d1 1%) center/15000%;
}


.ripple2:active {
  background-color: #FAFAFA;
  background-size: 100%;
  transition: background 0s;
}